node_modules
# Keep environment variables out of version control
.env
.env.test
.env.*.local
.env.stage1.test
.env.stage2.test
.env.stage3.test
.env.stage4.test


/generated/prisma
.env.stage5.test
.env.stage5b.test
.env.stage6.test
.env.stage7.test
.env.stage7.regression.test
.env.stage8.test
.env.stage8.regression.test
.env.stage9.test
.env.stage9.regression.test
.env.stage10.test
.env.stage10.regression.test
i18n/
